@import "compass";
@import "compass/css3";

	a.green,
	button.green,
	input.green {
		display:inline-block;
		vertical-align:top;
		padding:7px 13px 8px;
		background:#669933;
		border:1px solid black;
		@include border-radius(3px);
		font:bold 13px "Open Sans";
		color:white;
		line-height:normal;
		text-decoration:none;
		text-transform:uppercase;

		&:hover,&:active {
			outline:none;
			background:#6EB422;
		}

		&:active {
			padding:8px 13px 7px;
			background:#6EB422;
		}
	}


	a.orange,
	button.orange,
	input.orange {
		padding:7px 13px 8px;
		background:#FF6600;
		border:1px solid black;
		@include border-radius(3px);
		font:bold 13px "Open Sans";
		color:white;
		line-height:normal;
		text-decoration:none;
		text-transform:uppercase;

		&:hover,&:active {
			outline:none;
			background:#FF7C09;
		}

		&:active {
			padding:8px 13px 7px;
			background:#FF7C09;
		}
	}


	a.white,
	button.white,
	input.white {
		padding:7px 13px 8px;
		background:#EEEEEE;
		border:1px solid #CCCCCC;
		@include border-radius(3px);
		font:bold 13px "Open Sans";
		color:#666666;
		line-height:normal;
		text-decoration:none;
		text-transform:uppercase;

		&:hover,&:active {
			outline:none;
			background:white;
			color:#333;
		}

		&:active {
			padding:8px 13px 7px;
			background:#FF7C09;
		}
	}